body {
  background-color: #393E46;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

/* Personnalisation du bouton lançant la boite de dialogue pour renseigner le nom des joueurs */

.name {
  display: flex;
  margin: 40px auto 40px auto;
  background-color: #FF5722;
  color: white;
  text-shadow: 2px 0 #232931;
  border-radius: 15px;
  padding: 5px 20px;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  border: none;
}

/* Personnalisation de la boite de dialogue */

dialog {
  border: none;
  border-radius: 15px;
  padding: 40px;
  width: 250px;
  background-color: #393E46;
  color: #FF5722;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 0 #232931;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  
}

.input-group {
  margin-bottom: 20px;
}

input {
  border-radius: 15px;
  border: none;
  width: 80%;
  padding: 10px 20px;
}

input:focus {
  box-shadow: 0 0 10px 2px #FF5722;
  outline: none;
}

.actions button {
  background-color: #FF5722;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 5px 20px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 0 #232931;
  font-size: 1.5rem;
}

/* Personnalisation du bouton pour lancer le jeu */

.roll {
  display: flex;
  margin: 40px auto 60px auto;
  background-color: #FF5722;
  color: white;
  text-shadow: 2px 0 #232931;
  border-radius: 15px;
  padding: 5px 30px;
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  border: none;
}

/* Personnalisation des animations des boutons */

button:hover {
  background-color: #7e2b12;
  cursor: pointer;
}

button:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.dice {
  text-align: center;
  display: inline-block;
}

/* Personnalisation du titre, des paragraphes (ici noms des joueurs au dessus des dés) et des images */

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #FF5722;
}

p {
  font-size: 2rem;
  color: #FF5722;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  text-shadow: 2px 0 #232931;
}

img {
  width: 80%;
  user-select: none;  /* Empêche la surbrillance bleue */
  -webkit-user-drag: none;
}

/* Personnalisation de la classe qui sera ajouter par le JavaScript pour l'animation des dés lorsque le jeu est lancé */

.shaking {
  animation: spin 0.5s ease-in-out;
}

@keyframes spin {
  0% {transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}

/* Personnalisation du footer */

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
